.opakowanie{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.line1{
  display: flex;
  justify-content: center;
}
.line2{
  display: flex;
  justify-content: center;
}

.weatherTiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  padding-bottom: 30px;
}

.tile:nth-child(odd){
  margin-right: 10px;
}
.tile{
  margin-top: 20px;
  position: relative;
}
